@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import "node_modules/normalize.scss/normalize";
@import 'variables.scss';
*{
  box-sizing: border-box;
}

/* Large desktops and laptops */

  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container{
    max-width: 992px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container{
    max-width: 768px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container{
    max-width: 100%;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* Iphone 5 */
@media (max-width: 320px) {

}
