$width1: 1px;
$Gray: #c4c4c4;
$widthButtonRemove: 25px;

$colorTextMain: #000;
$colorTextLight: #c4c4c4;
$fontFamily: 'Open Sans', sans-serif;

$numberLines: 4;
$lineHeight: 1.5;
$padding10: 10px;
$margin: 10px;
$radius: 4px;
